.studio-area-selector {
  background-color: #fff;

  flex: 1 1 auto;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  overflow: hidden;
  position: relative;

  $block-size: 50px;
  height: 95%;
  // border: 5px dashed black;
  display: grid;
  grid-template-columns: $block-size auto $block-size;
  grid-template-rows: $block-size repeat(6, 1fr) $block-size;

  & > div {
    text-align: center;
  }

  & .block {
    grid-column: 2 / 3;
    grid-row: 2 / 8;

    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    & > div:last-child {
      & > div:not(:first-child) {
        &:hover .type {
          display: flex !important;
        }
        & {
          border: 2px solid green;
        }
      }
    }

    & .type {
      font-size: 1rem;
      transform: translate(0, -110%);
      z-index: 5;
      background-color: #fff;
      height: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 1rem;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      display: none;
    }
  }
}
