.book-content-layout {
  margin-bottom: 4rem;
  display: flex;
  gap: 2rem;
  // min-height: 65rem;
  height: 64rem;
  padding: 1rem 0;

  & > div {
    width: 100%;

    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    &:nth-child(1),
    &:nth-child(3) {
      flex: 0 0 15%;
    }
  }

  @media (max-width: 768px) {
    height: 35rem;
    gap: 1rem;
  }
}

.try {
  overflow-y: scroll !important;
}
