.image {
  display: flex;
  gap: 1rem;

  & .image-area {
    height: 180px;
    width: 200px;
    border: 2px solid #ccc;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & .inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    & > label {
      width: 100%;
    }
  }
}
