.studio-composite-blocks {
  margin: 1rem;

  & .tool-box {
    margin: 1rem 0;
  }

  & .header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  & .blocks {
    margin: 2rem 0;
    & .block {
    }
  }

  & .submit {
    width: 100%;
    margin: 1rem 0;
  }
}
