.studio-composite-blocks {
  margin: 1rem;

  & .header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  & .blocks {
    & .block {
      margin: 2rem 0;
    }
  }

  & .submit{
    width: 100%;
     margin: 1rem 0;
  }
}
