.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & > span {
    &:first-child {
      flex-grow: 1;
    }
  }

  & .up-down {
    display: flex;

    & button {
      padding: 0;
    }
  }
}
