.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & > span {
    &:first-child {
      flex: 1;
      min-width: 0;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  & .up-down {
    display: flex;

    & button {
      padding: 0;
    }
  }
}
