.book-column {
  overflow-y: scroll;

  & .opened {
    position: relative;
    & .head {
      position: sticky;
      top: 0;
      left: 0;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      border-bottom: 2px solid #ccc;
      margin-bottom: 1rem;
      background-color: #fff;
      margin-bottom: 1rem;

      & > button {
        border-color: transparent;
        background-color: transparent;

        &:hover {
          background-color: #ddd;
        }
      }
    }
  }

  & .closed {
    & button {
      writing-mode: tb-rl;
      display: flex;
      gap: 0.5rem;
      align-items: center;
    }
  }
}
