.book-column {
  overflow-y: scroll;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

  & .opened {
    position: relative;
    & .head {
      position: sticky;
      top: 0;
      left: 0;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      border-bottom: 2px solid #ccc;
      background-color: #fff;

      & > button {
        border-color: transparent;
        background-color: transparent;

        &:hover {
          background-color: #ddd;
        }
      }
    }
  }

  & .closed {
    & button {
      writing-mode: tb-rl;
      display: flex;
      gap: 0.5rem;
      align-items: center;
    }
  }
}
