.book {
  margin-bottom: 4rem;
  display: flex;
  gap: 3%;
  min-height: 100vh;

  & > div {
    width: 100%;

    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    &:nth-child(1),
    &:nth-child(3) {
      flex: 0 0 15%;
    }
  }
}
