.header {
  // background-color: #0594a9;
  // border: 1px solid #ccc;
  color: #ccc;
  // color: #fff;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  padding: 2rem;
  margin-bottom: 2rem;
  // box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
  //   rgba(0, 0, 0, 0.22) 0px 10px 10px;
  background-color: #eee;

  // display: flex;
  // justify-content: space-between;
}
