.illustrative-interactions {
  padding: 0.25rem;

  & > div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & > ul {
    list-style: none;
    padding: 0;
    & > li {
      display: flex;
      justify-content: space-between;
      align-items: center;

      & > span {
        &:first-child {
          flex-grow: 1;
        }
      }
    }
  }
}
