.book-viewer {
  position: relative;
  flex: 0 1 auto;
  overflow: scroll;
  overflow-y: scroll;
  // height: 120vh;
  height: 100%;

  & .actions {
    border-bottom: 2px solid #ccc;
    display: flex;
    gap: 0.5rem;
    padding: 0.5rem;
  }

  & .viewer-box {
    height: 100%;
    position: relative;

    & img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      // object-fit: contain;
      overflow-y: scroll;
      // width: 100%;
      // height: 100%;
      // object-fit: contain;
      // overflow-y: scroll;
    }

    & .area-button {
      position: absolute;
      background-color: transparent;
      border: 0;
      // background-color: rgba(#eee, 0.1);
      box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px, rgba(0, 0, 0, 0.8) 0px 1px 2px;

      &:hover {
        // border: 1px solid black;
        // box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px,
          rgba(0, 0, 0, 0.24) 0px 1px 2px;
        background-color: rgba(#eee, 0.5);
      }
    }
  }
}
