.top-bar {
  margin: 2rem 0;
}

.studio {
  display: flex;
  gap: 2rem;
  overflow: hidden;
  height: 59rem;
}

.submit-box {
  margin: 1rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
